/* Reset some default styles for better consistency */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styling for the header */
header {
    background-color: #0078d4;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Page title styling */
header h1 {
    font-size: 36px;
}

/* Styling for main sections */
section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Section title styling */
section h2 {
    font-size: 24px;
    color: #0078d4;
    margin-bottom: 10px;
}

/* Section content styling */
section p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Images styling */
section img {
    width: 100%;
    width: 600px;
    height: auto;
    display: block;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Footer styling */
footer {
    background-color: #0078d4;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Copyright text styling */
footer p {
    font-weight: bold;
}

#wikipedia-link {
    text-align: center;
}

#wikipedia-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0078d4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#wikipedia-link a:hover {
    background-color: #005a9e;
}